@use './variables' as *;

body {
  font-family: $font-stack;
  background: #f8f9fb;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  color: $primary-color;
  text-align: center;
  margin-top: 40px;
}

.secondary-color {
  color: $secondary-color;
}

.primary-color {
  color: $primary-color;
}

