@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: #f8f9fb;
  color: #333;
  margin: 0;
  padding: 0;
}

.secondary-color {
  color: $secondary-color;
}

.primary-color {
  color: $primary-color;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid $gray-color;
  overflow-x: hidden;
  padding: 170px 0 104px 0;
    &::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: auto;
    min-height: 100%;
    background-color: $gray-color;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
  }
}
