@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: #f8f9fb;
  color: #333;
  margin: 0;
  padding: 0;
}

.secondary-color {
  color: $secondary-color;
}

.primary-color {
  color: $primary-color;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid $gray-color;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 104px 0 170px 0;
}
