@use '/src/styles/variables' as *;

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #42567a;
  display: flex;
  gap: 80px;
  max-width: 500px;
  justify-content: flex-start;
  &::before {
    content: '';
    display: block;
    height: 120px;
    width: 5px;
    background: linear-gradient(
      180deg,
      $accent-color 0%,
      $secondary-color 100%
    );
  }
}

.title + .circle-timeline {
  margin-top: -140px;
}
