.year-roller-full {
  display: flex;
  gap: 2px;

  .roller {
    overflow: hidden;
    height: 1.2em;
    width: 0.8em;

    .digits {
      display: flex;
      flex-direction: column;

      .digit {
        height: 1.2em;
        line-height: 1.2em;
        text-align: center;
      }
    }
  }
}
